h1 {
    font-size: 60px;
    text-align: center;
    border: 1px dotted brown;
}

h2 {
    color: brown;
}


.aboutme {
    background-color: aliceblue;
    border: 1px solid brown;
    width: 550px;
    text-align: left;
    padding-left: 10px;
    padding-left: 5px;
    position: relative;
    bottom: 620px;
    left: 320px;
}

.skills {
    text-align: left;
    padding-left: 10px;
    padding-left: 5px;
    font-size: 30px;
    position:relative;
    left: 500px;
    bottom: 380px;
}

.educ {
    text-align: left;
    padding-left: 10px;
    padding-left: 5px;
    font-size: 30px;
    position:relative;
    left: 100px;
    bottom: 250px;
}

.languages {
    text-align: left;
    padding-left: 10px;
    padding-left: 5px;
    font-size: 30px;
    position:relative;
    left: 460px;
    bottom: 100px;
}

.cv {
    text-align: center;
    background-color: aliceblue;
}

.part1 {
    background-color: #fa7268;
    color:antiquewhite;
    padding: 10px 10px 10px 10px;
    text-align: left;
    border: 1px solid brown;
} 

.part2 {
    text-align: left;
    

}



body {
    max-width: 1024px;
    min-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #bab98e;
    font-size: larger;
}

.footer {
    border: 1px solid brown;
    text-align: left;
}


.date {
    position: relative;
    left: 350px;
    bottom: 90px;
    font-size: 30px;

}

.gh {
    position: relative;
    left: 350px;
    bottom: 200px;
    font-size: 30px;
}